.restaurant{
	width:100%;
}
.restaurant	.topmenu{
	background-color:#7e4c2b;
	width:100%;
	height:30px;
	display: flex;
	position: fixed;
	z-index: 2;
}
.restaurant	.topmenu .letter{
font-size: 12px;
color: white;
font-family: segoe ui;
margin-top:auto;
margin-bottom:auto;
}
.restaurant	.topmenu	.icon{
	color: white;
	font-size:11px;
	margin-top:5px;
	margin-bottom:auto;
	position: relative;
	transition: 0.3s;
}
.restaurant	.topmenu	.icon	.tip{
	position: absolute;
	opacity: 0;
	transition: 1s;
}
/* hover icon face ins twi */
.restaurant	.topmenu	.icon:hover{
	color:#7d7d7d;
}
.restaurant	.topmenu	.icon:hover	.tip{
	opacity: 1;
}
/* End */
.restaurant	.menu2{
	display: flex;
	height:160px;
}
/* menu2 */
.restaurant	.menu2	.logo{
	height: 130px;
	margin-top:auto;
	margin-bottom: auto;
}
.restaurant	.menu2	.content{
	display: flex;
	text-decoration: none;
	color:#7d7d7d;
}
.restaurant	.menu2	.content	.letter{
	font-weight: bold;
	font-size:15px;
	margin-top:55px;
	margin-left:18px;
	margin-right:18px;
}
.restaurant	.menu2	.content:hover	.letter{
	color:#c35254;
}
.restaurant	.menu2	.search{
	transition:0.5s;
	position: relative;
}
.restaurant	.menu2	.search	.search-box{
	position: absolute;
	opacity: 0;
}
.restaurant	.menu2	.search:hover	.search-box{
	opacity: 1;
}
/* end */
/* slide */
.restaurant	.slide{
	height: 100%;
	position: relative;
}
.restaurant	.slide-content{
	position: absolute;
	color:white;
}
.restaurant	.slide-content	.name{
	width:100%;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
.restaurant	.slide-content	.infor{
    width:100%;
    font-family: "Montserrat", sans-serif;
    color:rgb(204, 202, 202);
}
/* end */
.restaurant	.chef{
    width:100%;
	background: #eeeeee;
	height:100%;
}
/* 6 image lunch and starter */
.restaurant	.foodimg{
	width:90%;
	height:100%;
	justify-content: space-around;
}
.restaurant	.layer{
	position: relative;
}
.restaurant	.layer	.overlay{
	position: absolute;
	background:rgba(0, 0, 0, 0.5);
	height:100%;width:100%;
	top:0%;
}
.restaurant	.layer	.blockinner{
	left:10%;
	top:60%;
	position: absolute;
	height:24%;
	width:33%;
	color:rgba(0, 0, 0, 0.568);
	transition: 0.4s;
	background: white;
}
.restaurant	.foodimg	.layer:hover	.blockinner{
	top:50%;
}
.restaurant	.foodimg	.layer:hover	.block	img{
	transform: scale(1.4);
	/* Safari & Google Chrome */
	-webkit-transform: scale(1.2);
	/* Mozilla Firefox */
	-moz-transform: scale(1.2); 
	/* Opera */
	-o-transform: scale(1.2);
	/* IE 9 */
	-ms-transform: scale(1.2);
}
.restaurant	.foodimg	.block{
	overflow: hidden;
}
.restaurant	.foodimg	.blockinner	.head{
	margin-left:3%;
}
.restaurant	.foodimg	.blockinner	.leg{
	margin-left:3%;
}
/* end */
/* book the table */
.restaurant	.fill{
	position: absolute;
}
.restaurant	.background{
	overflow: auto;
}
.img_4{width:100%;}
.text_dark{
    position: relative;
    top:-360px;
    color:white;
}
.textinner_1{
    text-align: center;
    font-weight: bold;
}
.textinner_2{
    text-align: center;
    font-size: 16px;
    color:rgb(224, 219, 219);
}
.textinner_3{
    background: #7e4c2b;
    color:white;
}
.textinner_4{
    margin-left: 20%;font-weight: bold;
}
#_5{
    padding-top:10px;
    padding-left: 7%;
    opacity:0;
}
.textinner_3:hover{
    background-color: #884d26d7;
}
.textinner_3:hover .textinner_4{
    margin-left: 15%;
}
.textinner_3:hover #_5{
    opacity: 1;
}
/* end */
/* vietnam food */
.vnfood{
}
.vnfood	.block{
}
.vnfood	.block	.pic{}
.vnfood	.block	.detail{}
.vnfood	.block	.detail	p{
	padding-top:5%;
	padding-left:3%;
	color: #7d7d7d;
}
.vnfood	.block	.detail	h6{
	padding-left: 3%;
}
/* end */
.restaurant	.seeall{
	background:#7e4c2b;
	border-radius: 5px;
	color:white;
	text-align: center;
	padding-top:6px;
	padding-bottom:6px;
	margin-top:5%;
}
.restaurant	.booktable{
	width:100%;
	background:#eeeeee;
}
.restaurant	.booktable	.tableimg{}
.booktable	.book{
	background: white;
}
.booktable	img{}
.booktable	.infor{
	background: white;
	display: flex;
	width: 100%;
	margin-top:4%;
	justify-content: space-between;
	font-family: segoe ui;
}
.booktable	.infor	.name{
	width:40%;
	margin-left:5%;
}
.booktable	.infor	.phone{
	width:40%;
	margin-right:5%;
}
.booktable	.content{
	width:90%;
	height:40%;
}
.booktable	.send{
	background: #7e4c2b;
	color:white;
	text-align: center;
	font-size:13px;
	margin-left:5%;
	padding-top:7px;
	margin-top:3%;
	width:50px;
	height:30px;
}
.restaurant	.ourlife{
	text-align:center;
	margin-top:30px;
}
/* lastfood */
.lastfood{
	margin-top:28px;
	width:100%;
}
.lastfood	.block{
	position: relative;
}
.lastfood	.block	.date{
	background: #7e4c2b;
	width:33px;
	height:33px;
	color:white;
	text-align: center;
	position: absolute;
	top:10%;
}
.lastfood	.block	.date	h5{
	font-size:14px;
}
.lastfood	.block	.date	h6{
	font-size:12px;
	margin-top:-10px;
}
.lastfood	.block	.foodimg{
}
.lastfood	.block	img{
	width:100%;
}
.lastfood	.block	.fooddetail{
}
.lastfood	.block	.fooddetail	h5{
	padding-top:5px;
	
	font-weight:bold;
	color:#7d7d7d;
	margin-bottom: 0px;
}
.lastfood	.block	.fooddetail	.fish{
}
.lastfood	.seemore{
	background: #7e4c2b;
	width:76px;
	height:25px;
	color: white;
	text-align: center;
	font-size: 10px;
	padding-top:5px;
	margin-top:5px;
}
/* end */
/* responsive */
@media only screen and (min-width: 320px) and (max-width: 767px)
{
	.restaurant{
		width:100%;
	}
	.restaurant	.topmenu	.letter{
	margin-left: auto;
	margin-right: auto;
	}	
	.restaurant	.topmenu	.icon{
	display: none;
	}
	.restaurant	.menu2{
		position: relative;
	}
	.restaurant	.menu2	.image{
		margin-left:auto;
		margin-right:auto;
	}
	.restaurant	.menu2	.content{
		display: none;
	}
	.restaurant	.menu2	.search{
		display: none;
	}
	.restaurant	.menu2	.mobilemenu{
		visibility: visible;
		position: absolute;
	}
	.restaurant	.slide	.slide1{
		height:300px;
	}
	.restaurant	.slide	.slide2{
		height:300px;
	}
	.restaurant	.slide-content{
		top:35%;
	}
	.restaurant	.slide-content	.name{
		width:20%;
		font-size:30px;
		margin-left: 10%;
	}
	.restaurant	.slide-content	.infor{
		font-size: 14px;
		margin-left: 10%;
	}
	.restaurant	.chef{}
	.restaurant	.chef	.section_1{
		padding-top:10%;
		padding-left:5%;
		font-family: "Montserrat", sans-serif;
		font-size: 15px;
		color:#333;
	}
	.restaurant	.chef	.section_2{
		width: 100%;
	}
	.restaurant	.chef	.img_3{
		width:94%;
		margin-left: 4%;
		margin-top:10%;
	}
	.ourmenu{
		text-align: center;
		margin-top:10%;
	}
	.restaurant .layer{
		margin-left: 1%;
		width:109%;
	}
	.restaurant	.layer	.block{
		width:100%;
		margin-top:20px;
		height:300px;
	}
	.restaurant	.layer	img{
		width:100%;
		height:100%;
	}
	.restaurant	.layer	.overlay{
		width:100%;
		height:100%;
	}
	.restaurant	.fill{
		margin-top: 30px;
		width:100%;
		height:100%;
	}
	.restaurant	.background{
		width:100%;
		height:400px;
	}
	.restaurant	.fill	.background	img{
		height:100%;
	}
	.restaurant	.fill	.text_dark{
		margin-top:25%;
	}
	.restaurant	.fill	.text_dark	.textinner_3	.textinner_4{
		padding-left: 16%;
	}
	.ourgallery{
		text-align: center;
		margin-top:450px;
	}
	.vnfood{
		width:90%;
		margin-left: 5%;
	}
	.vnfood	.vnfood1{
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 5%;
	}
	.vnfood	.vnfood2{
		display: flex;
		width:100%;
		justify-content: space-between;
	}
	.vnfood	.block{
		width:48%;
		height: 100%;
	}
	.vnfood	.block	.pic{
		width:100%;
	}
	.vnfood	.block	.pic img{
		width:100%;
		height:100%;
	}
	.vnfood	.block	.detail{}
	.vnfood	.block	.detail	p{
	}
	.vnfood	.block	.detail	h6{
	}
	.restaurant	.seeall{
		width:26%;
		margin-left:37%;
		font-size:11px;
	}
	.booktable{
		width:100%;
		height:640px;
		margin-top:50px;
		padding-top:50px;
	}
	.booktable	.tableimg{
		margin-top:10%;
		width:100%;
	}
	.booktable	img{
		width:100%;
	}
	.booktable  .book	h5{
		padding-top:5%;
		padding-left:38%;
	}
	.booktable	.book{
		height:45%
	}
	.booktable	.book	.content{
		margin-top:5%;
		margin-right:5%;
		margin-left:5%;
		height:40%;
	}
	.lastfood{
	}
	.lastfood	.block{
		width: 96%;
		margin-bottom: 40px;
		margin-left:2%;
	}
	.lastfood	.block	.date{}
	.lastfood	.block	.date	h5{}
	.lastfood	.block	.date	h6{}
	.lastfood	.block	.foodimg{
		width:100%;
	}
	.lastfood	.block	img{
		width:100%;
	}
	.lastfood	.block	.fooddetail{
		margin-left:5%;
	}
	.lastfood	.block	.fooddetail	h5{
		font-size:13px;
	}
	.lastfood	.block	.fooddetail	.fish{
	font-size:11px;
	}
	.lastfood	.seemore{
		margin-left:5%;
	}
	.last{
		width:100%;
		background-image: url('')
	}
}
@media only screen and (min-width: 768px)
{	.restaurant{width: 100%}
	.restaurant	.topmenu .letter{
		margin-left:10%;
		margin-right:60%;
	}
	.restaurant	.menu2	.logo{
	margin-left: -35%;
	margin-right:295px;
	}
	.restaurant	.menu2	.mobilemenu{
		display: none;
		visibility: hidden;
	}
	.restaurant	.slide	.slide1{
		width:100%;
		height:730px;
	}
	.restaurant	.slide	.slide2{
		width:100%;
		height:730px;
	}
	.restaurant	.slide-content{
		top:53%;
		left:15%;
	}
	.restaurant	.slide-content	.name{
		font-size:50px;
	}
	.restaurant	.slide-content	.infor{
		font-size: 20px;
	}
	.restaurant	.chef{
		display: flex;
		justify-content: space-around;
		height:500px;
	}	
	.restaurant	.chef	.section_1{
		padding-top:6%;
		width:40%;
		margin-left:4%;
	}
	.restaurant	.chef	.section_2{
		margin-right:5%;
		margin-left:0%;
		width:40%;
	}
	.restaurant	.chef	.img_3{
		height:75%;
		margin-top:10%;
		margin-right:5%;
		width:100%;
	}
	.restaurant	.ourmenu{
		width: 100%;
		height:100%;
	}
	.restaurant	.ourmenu	.line1{
		margin-top:50px;
		text-align: center;
	}
	.restaurant	.ourmenu	.line2{
		text-align: center;
	}
	.restaurant	.foodimg{
		display: flex;
		margin-top:30px;
		margin-left:5%;
	}
	.restaurant	.foodimg	img{
		width:380px;
		height: 312px;
		transition-duration: 0.5s;
        /* Safari & Google Chrome */
        -webkit-transition-duration: 0.7s; 
        /* Mozilla Firefox */
        -moz-transition-duration: 0.7s; 
        /* Opera */
        -o-transition-duration: 0.7s;
        /* IE 9 */
        -ms-transition-duration: 0.7s;
	}
	.fill{
		height: 500px;
		width:100%;
		margin-top:50px;
	}
	.restaurant	.background{
		height:100%;
	}
    .textinner_1{
        font-size:53px;
    }
    .text_dark{
        width:46%;
        margin-left:26%;
    }
    .textinner_3{
        margin-left: 35%;
        width:210px;
        height: 40px;
        font-size: 20px;
	}
	.restaurant	.ourgallery{
		width: 100%;
		height:100%;
		margin-top:600px;
	}
	.restaurant	.ourgallery	.line1{
		margin-top:50px;
		text-align: center;
	}
	.restaurant	.ourgallery	.line2{
		text-align: center;
	}
	.vnfood{
		width:90%;
		margin-left: 5%;
		margin-top:40px;
		display:flex;
		justify-content: space-between;
	}
	.vnfood	.vnfood1{
		display: flex;
		width:50%;
	}
	.vnfood	.vnfood2{
		display: flex;
		width:50%;
	}
	.vnfood	.block{
		width:50%;
		margin-top:0px;
		transition: 0.4s;
	}
	.vnfood	.block:hover{
		margin-top:-5px;
	}
	.vnfood	.block	.pic{
		width:100%;
	}
	.vnfood	.block	.detail{}
	.vnfood	.block	.detail	p{
		font-family: arial;
		font-size:12px;
	}
	.vnfood	.block	.detail	h6{
		font-size: 14px;
	}
	.restaurant	.seeall{
		font-size:14px;
		width:8%;
		margin-left:46%;
	}
	.restaurant	.booktable{
		height:450px;
		margin-top:60px;
		display: flex;
	}
	.restaurant	.booktable	.tableimg{
		width:43%;
		margin-left:7%;
		height:80%;
		margin-top:4%;
	}
	.booktable	img{
		width:100%;
		height: 100%;
	}
	.booktable	.book{
		width:43%;
		margin-right:7%;
		height:70%;
		margin-top:6%;
	}
	.booktable	.book	h5{
		margin-left:40%;
		margin-top:20px;
		font-weight: bold;
	}
	.booktable	.infor{
		width:100%;
	}
	.booktable	.infor	.name{
		font-size:13px;
		padding-left:7px;
	}
	.booktable	.infor	.phone{
		font-size:13px;
		padding-left:7px;
	}
	.booktable	.book	.content{
		padding-top:5px;
		margin-left:5%;
		margin-top:2%;
	}
	.lastfood{
		margin-top:28px;
		width:90%;
		display: flex;
		justify-content: space-around;
		margin-left:5%;
		margin-right:5%;
	}
	.lastfood	.block{
		width:25%;
	}
	.lastfood	.block	.date{}
	.lastfood	.block	.date	h5{}
	.lastfood	.block	.date	h6{}
	.lastfood	.block	.foodimg{
	}
	.lastfood	.block	img{
	}
	.lastfood	.block	.fooddetail{
		margin-left:-7%;
		margin-top:-75px;
		width:112%;
	}
	.lastfood	.block	.fooddetail	h5{
		font-size:16px;
	}
	.lastfood	.block	.fooddetail	.fish{
		font-size:13px;
	}
	.lastfood	.block	.seemore{
		margin-left:-7%;
	}
}